.main-header {
  max-height: 40%;
}

.main-header .scroll-down {
  display: none;
}

.main-nav.overlay {
  background: none;
}

pre {
  word-wrap: normal;
}

pre code {
  white-space: pre;
}

.home-template .page-title {
  -webkit-animation: none;
  animation: none;
}

.home-template .page-description {
  -webkit-animation: none;
  animation: none;
}

.main-header {
  background-color: #F98A5C;
}